#about img{
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

#about > div > div.container{
    padding-top: 20px;
}

#me{
    float: left;
    margin-right: 16px;
    margin-bottom: 1px;
}

#rockHike{
    float: right;
    margin-left: 16px;
    margin-bottom: 1px;
}

#about p{
    text-align: justify;
}

@media only screen and (min-width: 993px){
    .container {
        width: 75% !important;
    }
}

#about h5{
    color: #263238;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 10px !important;
}

#about b{
    color: #0d47a1;
}

#about article{
    clear: both;
    padding-bottom: 25px;
}