#home > div{
    padding-top: 40px;
    text-align: center;
    height: 100vh;
}

#home > div > h5{
    color: darkgrey;
    padding: 10px;
    margin-top: 20px !important;
}
#home > div > p > a > img{
    box-shadow: none;
}

#home > div > p{
    text-align: center;
    font-size: 25px;
}