#layover{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 100;
}
#layover span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#layover span{
    margin: 0;
    text-align: center;
}
#layover > span > h2{
    font-size: 30px;
}
#layover > span > h3{
    font-size: 20px;
}
#layover > span > a{
    margin-top: 20px;
}

.prevent-scroll{
    overflow: hidden;
    margin: 0;
    padding: 0;
}