<section id="about">
    <h4>About</h4>
    <div class="container">
        <article class="container">
            <img id='me' class="responsive-img"  src='images/me.png' alt='leigh'>
            <h5>Meet Leigh</h5>
            <p>
                <b>My name</b> is Leigh Finan. I am a Registered Nurse
                and Certified Health and Wellness Coach. I was
                born and raised in Southern Rhode Island and grew
                up living the coastal life. From an early age, fresh
                food and outdoor activity were important parts of
                my lifestyle. I vividly remember the summer nights of
                my youth eating freshly caught fish and delicious ripe
                tomatoes straight from my family’s garden.
                I attended Salve Regina University in Newport,
                Rhode Island and graduated in May of 2015 with a
                Bachelor’s Degree in Nursing. After college I moved
                to Boston, Massachusetts and began working as a
                hospice nurse. During that time, I met many patients
                who were suffering from all types of chronic diseases,
                both inevitable and preventable. It was
                heartbreaking to see these wonderful people suffering
                from conditions that often could have been avoided
                by making small lifestyle changes. I began to wonder: what more could I do to help? At that
                point, I decided I needed to make a career change. I moved back to my Rhode Island roots and
                enrolled in Wellcoaches School of Coaching. In the fall of 2017, I obtained my health and
                wellness coaching certification and founded TriWellRI ℠
            </p>
        </article>
        <article class="container">
            <img id='rockHike' class="responsive-img"  src='images/rockHike.png' alt='hiking'>
            <h5>What Sets TriWellRI℠ Apart?</h5>
            <p>
                <b>I am</b> an avid runner and lover of wholesome plant-based foods who truly believes moderation and listening to one’s body are key to finding success and happiness in health and wellbeing. I am a “practice what I preach” health coach. I live a life of balance and value the importance of listening to my body. I consider myself plant-based, but still consume meat products occasionally. I have run a marathon, but do not run every day. I limit sugar, but still indulge in cookies or ice cream when I feel for it. This is an important component of my health coaching practice as I feel that life is too short for deprivation. 
            </p>
            <p>
                TriWellRI℠ offers a number of advantages over the competition; the first and most important being that I am a registered nurse, and have seen first-hand the effects of an unhealthy lifestyle. Through my experience as an RN I have not only worked with the end-of-life population, but I have also worked with hospitalized patients on a medical-surgical unit. I have cared for patients suffering from numerous chronic and acute health conditions including diabetes, congestive heart failure, liver disease, cancer, and pneumonia, just to name a few. I have a general understanding of both the pathophysiology of many of these diseases and also the disease trajectory. Because of these experiences, I have an intense passion for preventative wellness and holistic health. 
            </p>
        </article>
        <article class="container">
            <h5>Mission </h5>
            <p>
                    <b>My mission</b> at TriWellRI is to improve the health and wellness of the members of my community and beyond with the goal of evading acute and chronic disease. In addition, I hope to create a ripple chain effect of a society of individuals “tri”-ing each day to become the healthiest version of themselves: physically, mentally, and spiritually.  
            </p>   
        </article>
        <article class="container">
                <h5>Philosophy</h5>   
                <p>
                        <b>My philosophy</b> at TriWellRI℠ is that each person has unique needs. However, in order to feel balanced, one must ensure that they are meeting the needs of every aspect of their being: body, mind and soul. My job as a health and wellness coach is to guide my clients in discovering and nourishing their needs.
                </p>
        </article>
    </div>
</section>
