<section id="contact">
    <h4>Contact</h4>
    <div class="row">
        <div class="row">
            <div class="contact-form">
                <span class="flow-text">
                    <form class="col s12" method="POST" ng-submit="submit()">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" name="first_name" type="text" class="validate" ng-model="first_name" required>
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" name="last_name" type="text" class="validate" ng-model="last_name" required>
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" class="validate" ng-model="email" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="subject" id="subject" type="text" class="validate" ng-model="subject" required>
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="message" id="message" class="materialize-textarea" data-length="120" ng-model="message"
                                    required></textarea>
                                <label for="message">Textarea</label>
                            </div>
                        </div>
                        <input type="text" name="_gotcha" style="display:none">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </span>
            </div>
            <div class="contact-image">
                <img src='images/contact.png' alt='leigh'>
            </div>
        </div>
    </div>
</section>
