<section id="home">
<div class="container">
        <img src='images/background.png' alt='beach'>
        <h5>
            TriWellRI℠ offers health and wellness coaching to individuals who are looking to nourish themselves physically, mentally
            and spiritually.
        </h5>
        <p>
            <a href="//www.instagram.com/triwellri/">@TriWellRI
                <img style="width: 20px;" src="images/instagram-new-outline.png"
                    alt='instagram'>
            </a>
        </p>
    </div>
</section>